@font-face {
    font-family: "PT Sans Caption";
    src: url("../fonts/PT_Sans-Caption-Web-Regular.ttf");
}

@font-face {
    font-family: "PT Sans Caption Bold";
    src: url("../fonts/PT_Sans-Caption-Web-Bold.ttf");
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
    font-family: "PT Sans Italic";
    src: url("../fonts/PT_Sans-Web-Italic.ttf");
}

@font-face {
    font-family: "PT Sans Bold";
    src: url("../fonts/PT_Sans-Web-Bold.ttf");
}

@font-face {
    font-family: "PT Sans Bold Italic";
    src: url("../fonts/PT_Sans-Web-BoldItalic.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Caption", "Myriad Pro", "Trebuchet MS", Ubuntu, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

span {
    font-family: "PT Sans Caption Bold", "Myriad Pro", "Trebuchet MS", Ubuntu, sans-serif;
}

.pt-sans {
    font-family: "PT Sans", "Myriad Pro", "Trebuchet MS", Ubuntu, sans-serif;
}

.pt-sans span {
    font-family: "PT Sans Bold", "Myriad Pro", "Trebuchet MS", Ubuntu, sans-serif;
}

.upper {
    text-transform: uppercase;
}

.no-spacing {
    letter-spacing: normal;
}

.line-height-28 {
    line-height: 28px;
}

.line-height-36 {
    line-height: 36px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.color-g {
    color: #5b5b5b;
}

.color-b {
    color: #265a96;
}

.size-20 {
    font-size: 20pt;
}

.size-18 {
    font-size: 18pt;
}

.size-16 {
    font-size: 16pt;
}

.size-14 {
    font-size: 14pt;
}

.size-12 {
    font-size: 12pt;
}

.point {
    display: inline;
    position: relative;
}

.point:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    top: 10px;
    left: -17px;
    overflow: hidden;
    background-image: url("../images/point.png");
}

.body-wrapper {
    width: 1280px;
    margin: 0 auto;
}

.header__logo-wrapper {
    position: relative;
    height: 145px;
    border-bottom: 8px solid #265a96;
}

.header__logo {
    position: absolute;
    right: 57px;
    bottom: 14px;
    width: 50%;
}

.header__nav-panel {
    height: 13px;
    margin: 0;
    padding: 0;
}

.header__nav-panel li {
    list-style: none;
    float: left;
    height: 100%;
    width: 25%;
}

.header__nav-panel a {
    display: inline-block;
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    text-transform: uppercase;
    color: #fff;
}

.header__nav-panel a:hover,
.header__nav-panel a:focus {
    color: #5b5b5b;
}

.header__nav-panel__empty {
    background-color: #898989;
}

.header__nav-panel__left-button {
    background: linear-gradient(to left, #fff, #898989);
}

.header__nav-panel__right-button {
    background: linear-gradient(to right, #fff, #898989);
    text-align: right;
}

.content {
    position: relative;
    min-height: 500px;
}

.content-wrapper {
    padding: 0 75px 75px;
    overflow: hidden;
}

.content__left-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: linear-gradient(to left, #fff, #808080);
    z-index: -1;
}

.columns50-50,
.columns45-55,
.columns35-65 {
    overflow: hidden;
}

.content__left-side {
    margin-top: 40px;
    float: left;
}

.columns50-50 .content__left-side {
    width: 50%;
}

.columns45-55 .content__left-side {
    width: calc(50% - 85px);
}

.columns35-65 .content__left-side {
    width: calc(50% - 171px);
}

.content__right-side {
    margin-top: 40px;
    float: right;
}

.columns50-50 .content__right-side {
    width: calc(50% - 57px);
}

.columns45-55 .content__right-side,
.columns35-65 .content__right-side {
    width: calc(50% + 57px);
}

.inline {
    word-spacing: 50px;
}

.inline .content__left-side,
.inline .content__right-side {
    float: none;
    display: inline-block;
    word-spacing: normal;
}

.content__full-width {
    margin-top: 40px;
}

.space-eater-14 {
    height: 14px;
}

.space-eater-28 {
    height: 28px;
}

.space-eater-36 {
    height: 36px;
}

.space-eater-55 {
    height: 55px;
}

.space-eater-92 {
    height: 92px;
}

.text-block-wrapper {
    margin-top: 28px;
}

.assortment-item-wrapper {
    display: table;
    position: relative;
    height: 114px;
    margin: 14px 0 28px;
}

.assortment-item-wrapper:last-child {
    margin-bottom: 0;
}

.assortment-item {
    display: table-cell;
    vertical-align: middle;
    padding-left: 142px;
}

.assortment-item:before {
    content: '';
    position: absolute;
    width: 115px;
    height: 114px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.assortment-item:hover,
.assortment-item:focus {
    color: #265a96;
}

.assortment-item.image-1:before {
    background-image: url("../images/icon_1.png");
}

.assortment-item.image-1:hover:before,
.assortment-item.image-1:focus:before {
    background-image: url("../images/icon_1_hover.png");
}

.assortment-item.image-2:before {
    background-image: url("../images/icon_2_opus.png");
}

.assortment-item.image-2:hover:before,
.assortment-item.image-2:focus:before {
    background-image: url("../images/icon_2_opus_hover.png");
}

.assortment-item.image-3:before {
    background-image: url("../images/icon_3.png");
}

.assortment-item.image-3:hover:before,
.assortment-item.image-3:focus:before {
    background-image: url("../images/icon_3_hover.png");
}

.assortment-item.image-4:before {
    background-image: url("../images/icon_4_kdm.png");
}

.assortment-item.image-4:hover:before,
.assortment-item.image-4:focus:before {
    background-image: url("../images/icon_4_kdm_hover.png");
}

.assortment-item.image-5:before {
    background-image: url("../images/icon_5_diagnostics.png");
}

.assortment-item.image-5:hover:before,
.assortment-item.image-5:focus:before {
    background-image: url("../images/icon_5_diagnostics_hover.png");
}

.assortment-item.image-6:before {
    background-image: url("../images/icon_6_tool.png");
}

.assortment-item.image-6:hover:before,
.assortment-item.image-6:focus:before {
    background-image: url("../images/icon_6_tool_hover.png");
}

.contact-wrapper .content__right-side {
    margin-top: 20px;
}

.contact-item-wrapper {
    display: table;
    position: relative;
    height: 143px;
    margin: 14px 0 28px;
}

.contact-item-wrapper:last-child {
    margin-bottom: 0;
}

.contact-item {
    display: table-cell;
    vertical-align: middle;
    padding-left: 142px;
}

.contact-item:before {
    content: '';
    position: absolute;
    width: 115px;
    height: 143px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.contact-item.image-contact-1:before {
    background-image: url("../images/Contacts_Kuznetsov.png");
}

.contact-item.image-contact-2:before {
    background-image: url("../images/Contacts_Balashov.png");
}

.contact-item.image-contact-3:before {
    background-image: url("../images/Contacts_Gaygalnik.png");
}

.contact-item.image-contact-4:before {
    background-image: url("../images/Contacts_Basova.png");
}

.document-link {
    position: relative;
    padding-left: 50px;
    height: 24px;
}

.document-link:before {
    content: '';
    position: absolute;
    background-image: url("../images/icon_download.png");
    width: 27px;
    height: 24px;
    left: 12px;
    overflow: hidden;
}

.document-link:hover,
.document-link:focus {
    color: #265a96;
}

.document-link:hover:before,
.document-link:focus:before {
    background-image: url("../images/icon_download_hover.png");
}